.container {
  display: grid;
  grid-template-columns: 50px 80px 100px auto;
  background-color: dodgerblue;
  padding: 10px;
}
.container > div {
  background-color: #f1f1f1;
  border: 1px solid black;
  padding: 10px;
  font-size: 30px;
  text-align: center;
}

.container2 {
  display: grid;
  grid-template-columns: auto;
  background-color: red;
  padding: 8px;
}
.container2 > div {
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
  text-align: center;
}
.container3{
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 50px;

}